@model ColegioRM.ModelsE.Cursos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Cursos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codCurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codCurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomCurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomCurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alumnos.codAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumnos.codAlumno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCurso }) |
    @Html.ActionLink("Regresar a Lista", "Index")
</p>
